<section class="py-8 text-center">
  <h1 class="text-5xl mb-8">Dobehave</h1>
  <p class="text-lg mb-8">30 things to do, be, and have before you kick it</p>
  <%= link_to "Create a new board", new_board_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-4 px-8 rounded" %>
</section>