<h1 class="text-xl text-bold">Editing Board</h1>

<%= render 'form', board: @board %>

<%= link_to 'Show', @board, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-4 px-8 rounded my-4" %>
