// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.board_list {
  display: flex;
  justify-content: space-between;
  
  .list {
    h2 { 
      color: blue; 
    }

    width: 30%;

    .details {
      color: darkgray;
    }
  }
}